{% block footer %}
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget">
                        <h4 class="footer-title">Contacts</h4>
                        <div class="about-clinic">
                            <p><strong><i class="fa fa-envelope" aria-hidden="true"></i> exemple@gmail.com</strong>
                            </p>
                            <p class="m-b-0"><strong><i class="fa fa-mobile" aria-hidden="true"></i> <a
                                    href="tel:+8503867896">(850) 386-7896</a></strong>:

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget">
                        <h4 class="footer-title">Sitemap</h4>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">A propos</a>
                            </li>
                            <li>
                                <a href="#">Departements</a>
                            </li>
                            <li>
                                <a href="#">Témoignages</a>
                            </li>
                            <li>
                                <a href="#">Docteurs</a>
                            </li>
                            <li>
                                <a href="#">Contactez-nous</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget">
                        <h4 class="footer-title">Réseaux</h4>
                        <div class="appointment-btn">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="social-icons clearfix">
                                <li>
                                    <a href="#" target="_blank" title="Facebook"><i
                                            class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Linkedin"><i
                                            class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Google Plus"><i
                                            class="fa fa-google"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-12">
                        <div class="copy-text text-center">
                            <p>&#xA9; 2022 <a href="#">White team</a>. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}