{% extends "base.html" %}
{% load static %}
{% block titre %}Login{% endblock %}
{% block content %}

    <div class="auth-container">
        <div class="row auth-main">
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <div class="left-img" style="background-image: url({% static 'img/pages/bg-01.png' %});">
                </div>
            </div>
            <div class="col-sm-6 auth-form-section">
                <div class="form-section">
                    <div class="auth-wrapper">
                        <h2 class="welcome-msg"> Bievenue sur PROXIDOC </h2>
                        <p class="auth-signup-text text-muted">Pas encore de compte?<a href="{% url 'register' %}"
                                                                                       class="sign-up-link">Créer un
                            Compte
                        </a></p>

                        <h2 class="login-title">Se Connecter</h2>
                        <p class="mb-0">
                            {% if msg %}
                                <div class="alert alert-danger">
                                    {{ msg | safe }}
                                </div>

                            {% else %}
                                Ajouter vos  informations d'identification
                            {% endif %}
                        <form class="validate-form" role="form text-left" method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <div class="form-group">
                                        {% comment %} <label>Username</label> {% endcomment %}
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <div class="form-group">
                                        {% comment %} <label>Password</label> {% endcomment %}
                                        {{ form.password }}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value=""> Remember me
                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                    </label>
                                </div>
                                <a class="txt1" href="#">Mot de passe oublié?</a>
                            </div>
                            <div class="container-auth-form-btn">
                                <div style="text-align:center">
                                    <button
                                            class="btn bg-gradient-info w-100 mt-4  btn btn-primary " name="login"
                                            type="submit">Se connecter
                                    </button>
                                </div>
                            </div>
                        </form>
                        <h6 class="social-login-title">OU</h6>
                        <ul class="list-unstyled social-icon mb-0 mt-3">
                            <li class="list-inline-item"><a href="" class="rounded">
                                <i class="fa fa-google"></i>
                            </a></li>
                            <li class="list-inline-item"><a href="" class="rounded flex-c-m">
                                <i class="fa fa-facebook-f"></i>
                            </a></li>
                            <li class="list-inline-item"><a href="" class="rounded">
                                <i class="fa fa-twitter"></i>
                            </a></li>
                            <li class="list-inline-item"><a href="" class="rounded">
                                <i class="fa fa-linkedin"></i>
                            </a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



