{% extends "base.html" %}
{% load static %} 
{% block titre %}ProxiDoc |Account{% endblock %} 
{% block header %} 
    {% include "include/header_profile.html" %} 
{% endblock %} 
{% block content %}

    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header">Informations personnelles</div>
            <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="profile mt-3 mb-3">
                            <img
                                src="{% static 'img/pages/admin.jpg' %}"
                                class="img-circle"
                                alt="Cinque Terre"
                                width="60"
                                height="60"

                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h3> 
                            <span class="badge badge-pill badge-secondary">Bonjour </span> 
                            <span class="badge badge-pill badge-info"> {{ user.username }}</span>
                        </h3>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>

{% endblock %} 
{% block footer %} 
    {% include "footer.html" %} 
{% endblock %}
